@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.__desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .__desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .__mobile {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.scrollbar {
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}

.scrollbar ::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
}

/* 共通パーツ */
body {
  background-color: #111;
  color: #fff;
}

main {
  width: 100%;
}

.hover-gray {
  color: #fff;
  background-color: #333333;
}

body.active {
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog__subtitle {
  top: -43px;
  top: -2.6875rem;
}
@media screen and (min-width: 768px) {
  .blog__subtitle {
    top: -2.3125rem;
  }
}

.blog__cards {
  margin-top: 68px;
  margin-top: 4.25rem;
}
@media screen and (min-width: 768px) {
  .blog__cards {
    margin-top: 2.5625rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.blog__button-wrapper {
  margin-top: 27px;
  margin-top: 1.6875rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .blog__button-wrapper {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.blog__cards .card:first-child {
  position: relative;
}

.blog__cards .card:first-child::before {
  display: inline-block;
  position: absolute;
  top: -15px;
  top: -0.9375rem;
  left: -16px;
  left: -1rem;
  color: #111;
  content: "New";
  background-color: #ffba6a;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  line-height: 3.75rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .blog__cards .card:first-child::before {
    top: -1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumb__inner {
    margin-top: 1.0625rem;
  }
}

.breadcrumb__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 7px;
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
}

.breadcrumb__body li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb__body li:not(:last-child)::after {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  margin-left: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
}

.breadcrumb__body a {
  color: #fff;
}

.card__body {
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__img {
  aspect-ratio: 335/223;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}

.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.card__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
  line-height: 1.8888888889;
  letter-spacing: 0.0555555556em;
}
@media screen and (min-width: 768px) {
  .card__title {
    line-height: 2;
  }
}

.card__text {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
  line-height: 1.8571428571;
  text-align: left;
  letter-spacing: 0.0714285714em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .card__text {
    margin-top: 0.1875rem;
    line-height: 2;
  }
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8571428571;
  margin-top: auto;
  padding: 7px 23px 16px;
  padding: 0.4375rem 1.4375rem 1rem;
}

.card__category {
  background-color: #ffea2e;
  color: #111;
  padding: 0 5px;
  padding: 0 0.3125rem;
  letter-spacing: 0.0714285714em;
}

.cards {
  display: grid;
  gap: 24px 25px;
  gap: 1.5rem 1.5625rem;
}
@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 1.5625rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .cards__item:hover {
    color: #fff;
    background-color: #333333;
  }
}

.circle {
  display: inline-block;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  border-radius: 50%;
  background: #FFBA6A;
  text-align: center;
  line-height: 80px;
  line-height: 5rem;
}

.common-button {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  width: 100%;
  background-color: #333333;
  cursor: pointer;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1;
  border: 1px solid #fff;
  padding: 14px 9px;
  padding: 0.875rem 0.5625rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .common-button {
    font-size: 1rem;
    width: 22.5rem;
    padding: 1.3125rem 0.5625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.common-button:hover {
  color: #333333;
}

@media screen and (min-width: 768px) {
  .common-button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform ease-out 0.3s;
    transition: -webkit-transform ease-out 0.3s;
    transition: transform ease-out 0.3s;
    transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
  }
}

.common-button:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  .common-button--contact {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    padding: 1.1875rem 0.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .common-button---news {
    background-color: #fff;
    padding: 0.375rem 0.625rem;
    width: 8.375rem;
    color: #111;
    letter-spacing: normal;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.common {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .common {
    padding: 5rem 0;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#333));
    background: linear-gradient(90deg, transparent 0% calc(50% - 16rem), #333 calc(50% - 16rem) 100vw);
  }
}

@media screen and (min-width: 768px) {
  .common--reverse {
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(#333));
    background: linear-gradient(270deg, transparent 0% calc(50% - 16rem), #333 calc(50% - 16rem) 100vw);
  }
}

.common__items {
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .common__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1150px;
    padding: 0 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .common--reverse .common__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .common--reverse .common__item-img {
    margin: 0 0 0 1.9375rem;
  }
}

.common__item-img {
  aspect-ratio: 375/261;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .common__item-img {
    aspect-ratio: 557/389;
    height: auto;
    width: 50.6%;
    margin: 0 1.9375rem 0 0;
  }
}

.common__item-img img {
  aspect-ratio: 375/261;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .common__item-img img {
    aspect-ratio: 557/389;
  }
}

.common__item-text-box {
  padding: 24px 20px 22px;
  padding: 1.5rem 1.25rem 1.375rem;
  background: #333333;
}
@media screen and (min-width: 768px) {
  .common__item-text-box {
    margin-top: 0;
    width: 46.5454545455%;
    padding: 0;
    letter-spacing: 0.03125em;
  }
}

.common__title {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .common__title {
    margin-top: 2.125rem;
    text-align: left;
    font-size: 1.5625rem;
    line-height: 1;
    letter-spacing: 0.03125rem;
  }
}

.common__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .common__text {
    margin-top: 2.75rem;
    line-height: 2.1875;
    letter-spacing: 0.03125rem;
  }
}

.common__button-wrapper {
  margin-top: 26px;
  margin-top: 1.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .common__button-wrapper {
    margin-top: 3rem;
    text-align: left;
  }
}

.common__item-img.swiper-slide img {
  width: 100%;
  aspect-ratio: 375/261;
  height: inherit;
  min-height: inherit;
}
@media screen and (min-width: 768px) {
  .common__item-img.swiper-slide img {
    aspect-ratio: 557/389;
  }
}

.contact {
  background-color: #3d3d3d;
  padding: 73px 0 64px;
  padding: 4.5625rem 0 4rem;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 9.625rem 0 9.3125rem;
  }
}

.contact__header {
  position: relative;
  z-index: 1;
}

.contact__subtitle {
  top: -42px;
  top: -2.625rem;
}
@media screen and (min-width: 768px) {
  .contact__subtitle {
    top: -4.5rem;
  }
}

.contact__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  margin-top: 23px;
  margin-top: 1.4375rem;
  letter-spacing: 0.125em;
  line-height: 1.448125;
}
@media screen and (min-width: 768px) {
  .contact__text {
    margin-top: 1.5rem;
    text-align: center;
  }
}

.contact__button-wrapper {
  text-align: center;
  margin-top: 47px;
  margin-top: 2.9375rem;
}
@media screen and (min-width: 768px) {
  .contact__button-wrapper {
    margin-top: 3.75rem;
  }
}

.content-card {
  width: auto;
  overflow: hidden;
  aspect-ratio: 188/168;
}
@media screen and (min-width: 768px) {
  .content-card {
    aspect-ratio: 1/1;
  }
}

.content-card__link {
  position: relative;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  -webkit-box-shadow: 0 2.5rem 2rem -2rem hsla(200, 50%, 20%, .4);
          box-shadow: 0 2.5rem 2rem -2rem hsla(200, 50%, 20%, .4);
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .content-card__link {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.content-card__link::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .content-card__link::after {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
}

.content-card__img {
  height: 100%;
  width: 100%;
}

.content-card__link img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left -0.9375rem;
     object-position: left -0.9375rem;
}
@media screen and (min-width: 768px) {
  .content-card__link img {
    -o-object-position: initial;
       object-position: initial;
  }
}

.content-card__link:hover::after {
  background: rgba(255, 255, 255, .6);
}

.content-card__title {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.0357142857;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .content-card__title {
    font-size: 1.5625rem;
  }
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .content-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.content::before {
  content: "";
  display: block;
  position: absolute;
  top: -36px;
  top: -2.25rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background-color: #f9f871;
  width: 1px;
  width: 0.0625rem;
  height: 197.0933333333vw;
  -webkit-transform: rotate(-28.91deg);
          transform: rotate(-28.91deg);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .content::before {
    height: 133.90625vw;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -6.875rem;
  }
}

.content__subtitle {
  top: -43px;
  top: -2.6875rem;
}
@media screen and (min-width: 768px) {
  .content__subtitle {
    top: -1.4375rem;
  }
}

.content__body {
  margin-top: 52px;
  margin-top: 3.25rem;
}

@media screen and (min-width: 768px) {
  .content__inner {
    margin-left: 0;
    margin-right: 0;
  }
}

.drawer.is-active {
  display: block;
}

.drawer__items {
  padding: 193px 0;
  padding: 12.0625rem 0;
  overflow: scroll;
  height: 100%;
}

.drawer__item {
  width: 100%;
}

.drawer__item a {
  display: block;
  text-align: center;
  padding: 16px 0;
  padding: 1rem 0;
  height: inherit;
  font-weight: 400;
  letter-spacing: 0.125em;
  line-height: 1.4375;
}

.footer {
  padding: 52px 0 60px;
  padding: 3.25rem 0 3.75rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5625rem 0 1.8375rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 0 1rem 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  max-width: 70px;
  max-width: 4.375rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__items {
  display: grid;
  margin-top: 6px;
  margin-top: 0.375rem;
}
@media screen and (min-width: 768px) {
  .footer__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    grid-row: 1;
  }
}

.footer__item a {
  display: block;
  text-align: center;
  letter-spacing: 0.125em;
  position: relative;
  line-height: 1.9375;
}
@media screen and (min-width: 768px) {
  .footer__item a {
    padding: 0.625rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__item a::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: "";
    width: calc(100% - 1rem);
    height: 0.0625rem;
    background: #ffea2e;
    bottom: 0.375rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.footer__item a:hover::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__copyright {
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 16px;
  line-height: 1rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1090909091em;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 3.5rem;
    font-size: 0.9375rem;
    line-height: 2.1875rem;
    letter-spacing: 0.08em;
  }
}

.header-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  background-color: rgba(17, 17, 17, .5);
  height: 50px;
  height: 3.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.header-another {
  background-color: #111;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header.header-drawer {
  background-color: #111;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
  padding: 0 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding: 0 0 0 2rem;
  }
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: inherit;
  max-width: 70px;
  max-width: 4.375rem;
  z-index: 1000;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 6rem;
    width: 100%;
  }
}

.header__link img {
  height: 100%;
  max-height: 26px;
  max-height: 1.625rem;
  width: 100%;
  aspect-ratio: 96/37;
}
@media screen and (min-width: 768px) {
  .header__link img {
    max-height: 2.3125rem;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: inherit;
  padding-top: 2px;
  padding-top: 0.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__link {
    padding-top: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.header__link:hover {
  opacity: 0.5;
}

.header__drawer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #111;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-nav {
  padding: 180px 0;
  padding: 11.25rem 0;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__drawer .is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__drawer-items {
  padding: 100px 0;
  padding: 6.25rem 0;
  overflow: auto;
  height: 100%;
  letter-spacing: 0.1111111111em;
}

.header__pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__pc-nav {
    display: block;
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: initial;
            transform: initial;
    height: inherit;
    width: auto;
    background-color: transparent;
  }
}

/* ハンバーガーメニュー_ボタン */
.header__hamburger {
  display: block;
  position: relative;
  z-index: 999;
  padding: 0 2px;
  padding: 0 0.125rem;
  height: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger span {
  position: relative;
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0.625rem;
  background-color: #fff;
}

.header__hamburger span:nth-child(1) {
  top: -6px;
  top: -0.375rem;
}

.header__hamburger span:nth-child(2) {
  top: 0;
}

.header__hamburger span:nth-child(3) {
  top: 6px;
  top: 0.375rem;
}

.header__hamburger.is-open :nth-child(1) {
  top: 2px;
  top: 0.125rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.is-open :nth-child(2) {
  opacity: 0;
}

.header__hamburger.is-open :nth-child(3) {
  top: -2px;
  top: -0.125rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8571428571;
  margin-top: auto;
  padding: 7px 23px 16px;
  padding: 0.4375rem 1.4375rem 1rem;
}

.card__category {
  background-color: #ffea2e;
  color: #111;
  padding: 0 5px;
  padding: 0 0.3125rem;
  letter-spacing: 0.0714285714em;
}

.inner {
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.mv {
  min-height: 600px;
  min-height: 37.5rem;
  height: 100vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .mv {
    min-height: 53.125rem;
  }
}

/* ズーム */
@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.mv__swiper .swiper-slide-active img,
.mv__swiper .swiper-slide-duplicate-active img,
.mv__swiper .swiper-slide-prev img {
  -webkit-animation: zoomUp 10s linear 0s normal both;
          animation: zoomUp 10s linear 0s normal both;
}

.mv__swiper {
  min-height: 600px;
  min-height: 37.5rem;
  overflow: hidden;
}

.mv__inner {
  min-height: inherit;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv img {
  height: 100vh;
  min-height: 600px;
  min-height: 37.5rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: auto 375/770;
}
@media screen and (min-width: 768px) {
  .mv img {
    min-height: 53.125rem;
    aspect-ratio: 1280/850;
  }
}

.mv__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  text-align: center;
  width: 100%;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  line-height: 1;
  font-weight: 700;
}

.mv__title-main {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .mv__title-main {
    font-size: 3.125rem;
  }
}

.mv__title-sub {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .mv__title-sub {
    font-size: 1.5625rem;
  }
}

.slick-slide {
  min-height: 600px;
  min-height: 37.5rem;
}

.news-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .news-content__info {
    gap: 3rem;
  }
}

.news-content__date {
  min-width: 80px;
  min-width: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.news-content__category {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  padding: 6px 21px;
  padding: 0.375rem 1.3125rem;
  border: 1px solid #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .news-content__category {
    font-weight: 500;
    white-space: nowrap;
  }
}

.news-content__text {
  display: inline-block;
  margin-top: 14px;
  margin-top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .news-content__text {
    margin-top: 0.25rem;
    margin-left: 3.75rem;
    max-width: 66.976744186%;
    width: 36rem;
    position: relative;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background: linear-gradient(90deg, #fff, #fff);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0 1px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
}

.news-content__text:hover {
  background-size: 100% 1px;
}

.news {
  padding: 22px 0 101px;
  padding: 1.375rem 0 6.3125rem;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 2rem 0 0;
  }
}

.news__inner {
  margin: 0 auto;
  max-width: 600px;
  max-width: 37.5rem;
}
@media screen and (min-width: 768px) {
  .news__inner {
    max-width: 71.875rem;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.news__body {
  margin: 0 19.5px;
  margin: 0 1.21875rem;
}
@media screen and (min-width: 768px) {
  .news__body {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .news__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: inherit;
  }
}

.news__button-wrapper {
  margin-top: 27px;
  margin-top: 1.6875rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__button-wrapper {
    max-width: 8.375rem;
    margin: 0.0625rem 0 0 2.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .news__button {
    font-size: 1rem;
    background-color: #fff;
    padding: 0.14375rem 0.625rem;
    max-width: 8.375rem;
    color: #111;
    letter-spacing: normal;
    line-height: 1.5;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.news__button:hover {
  color: #fff;
  background-color: #333333;
}

@media screen and (min-width: 768px) {
  .news__button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333333;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform ease-out 0.3s;
    transition: -webkit-transform ease-out 0.3s;
    transition: transform ease-out 0.3s;
    transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
  }
}

.overview__subtitle {
  top: -38px;
  top: -2.375rem;
}
@media screen and (min-width: 768px) {
  .overview__subtitle {
    top: -1.9375rem;
  }
}

.overview__header {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .overview__header {
    margin: 0 5.625rem;
  }
}

.overview__body {
  margin-top: 54px;
  margin-top: 3.375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .overview__body {
    margin-top: 2.4375rem;
  }
}

.overview::before {
  content: "";
  display: block;
  position: absolute;
  top: -642px;
  top: -40.125rem;
  right: 0;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  background-color: #f9f871;
  width: 1px;
  width: 0.0625rem;
  height: 386.1333333333%;
  -webkit-transform: rotate(15.05deg);
          transform: rotate(15.05deg);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .overview::before {
    height: 133.75vw;
    top: -9.375rem;
    right: 4.25rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
  gap: 0 1rem;
  list-style-type: none;
}

.pagination__item {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-height: 24px;
  max-height: 1.5rem;
  line-height: 1;
  padding: 3px 6.5px;
  padding: 0.1875rem 0.40625rem;
  letter-spacing: 1;
  border: 1px solid #fff;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .pagination__item {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.pagination__item:hover {
  background-color: #fff;
  color: #333333;
}

.pagination__item:not(:hover) {
  text-decoration: none;
}

.pagination__item--current {
  background-color: #f9f871;
  color: #333333;
  pointer-events: none;
}

.pagination__item--prev,
.pagination__item--next {
  display: inline-block;
  gap: 0 24px;
  gap: 0 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 13px;
  padding: 0.1875rem 0.8125rem;
  line-height: 1;
}

.pagination__item--prev {
  margin-right: 8px;
  margin-right: 0.5rem;
}

.pagination__item--next {
  margin-left: 8px;
  margin-left: 0.5rem;
}

.pc-nav__items {
  padding: 0;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  text-align: center;
  display: grid;
  place-items: center;
  padding: 0 15px;
  padding: 0 0.9375rem;
  letter-spacing: 0.125em;
  position: relative;
}

.pc-nav__item:last-child a {
  padding: 0 31px;
  padding: 0 1.9375rem;
}

.pc-nav__item--white {
  color: #333333;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .pc-nav__item--white {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-left: 0.9375rem;
  }
}

.pc-nav__item--white:hover {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
  background-color: #333333;
}

li:not(:last-child).pc-nav__item a::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: calc(100% - 1rem);
  height: 1px;
  height: 0.0625rem;
  background: #ffea2e;
  bottom: 6px;
  bottom: 0.375rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li:not(:last-child).pc-nav__item a:hover::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-title {
  position: relative;
  line-height: 1;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section-title {
    max-width: 71.875rem;
    padding: 0 25px;
  }
}

.main-title {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 1.875rem;
    letter-spacing: 0.0166666667em;
  }
}

.sub-title {
  font-size: 50px;
  font-size: 3.125rem;
  font-family: "Noto Serif JP", sans-serif;
  color: #f9f871;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.2;
  text-transform: capitalize;
  z-index: -1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .sub-title {
    font-size: 6.875rem;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: initial;
            transform: initial;
    left: 0;
    padding: 0 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .subtitle--right {
    left: auto;
    left: initial;
    right: 0;
  }
}

.sub-mv {
  position: relative;
  height: 425px;
  height: 26.5625rem;
}
@media screen and (min-width: 768px) {
  .sub-mv {
    height: 23.125rem;
  }
}

.sub-mv__inner {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-mv__img {
  height: inherit;
  position: relative;
}

.sub-mv__img::before {
  background: rgba(0, 0, 0, .2);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sub-mv img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 375/425;
}
@media screen and (min-width: 768px) {
  .sub-mv img {
    aspect-ratio: 1280/370;
  }
}

.sub-mv__title {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 100%;
  letter-spacing: 0.0571428571em;
  line-height: 1;
  font-weight: 700;
}

.sub-mv__title-main {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .sub-mv__title-main {
    font-size: 3.125rem;
  }
}

.swiper {
  height: inherit;
  min-height: inherit;
}

.swiper-wrapper,
.swiper-slide {
  height: inherit;
  min-height: inherit;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* ページネーション配置の基準 */
.swiper-container {
  position: relative;
}

/* ページネーション カスタマイズ */
.swiper-pagination {
  text-align: center;
  line-height: 0.5;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    padding-right: 2.375rem;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -16px;
  bottom: -1rem;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -1.6875rem;
  }
}

.swiper-pagination-bullet {
  background-color: #f9f871;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5.5px;
  margin: 0 0.34375rem;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  row-gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tab-label {
  min-width: 48px;
  min-width: 3rem;
  text-align: center;
  color: White;
  padding: 2px 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
}

.tab-content {
  width: 100%;
  display: none;
}

/* アクティブなタブ */
.tab-label.active {
  background: #fff;
  color: #111;
}

.tab-switch:checked + .tab-label + .tab-content {
  display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.top-button {
  display: block;
  text-indent: -9999px;
  text-indent: -624.9375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding-top: 30px;
  padding-top: 1.875rem;
  text-align: center;
  letter-spacing: -1em;
  font-size: 85%;
  text-decoration: none;
}

.top-button::before {
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 40%;
  height: 40%;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-button:hover {
  background: #333333;
}

.top-button:hover:before {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.works__subtitle {
  top: -41px;
  top: -2.5625rem;
}
@media screen and (min-width: 768px) {
  .works__subtitle {
    top: -2.125rem;
  }
}

.works__header {
  margin-left: auto;
  margin-right: auto;
}

.works__body {
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .works__body {
    margin-top: 2.4375rem;
  }
}

.blog-detail__breadcrumb {
  margin-top: 66px;
  margin-top: 4.125rem;
}

.blog-layout {
  margin-top: 104px;
  margin-top: 6.5rem;
}
@media screen and (min-width: 768px) {
  .blog-layout {
    margin-top: 13.0625rem;
  }
}

.blog-tab-layout {
  margin-top: 67px;
  margin-top: 4.1875rem;
}
@media screen and (min-width: 768px) {
  .blog-tab-layout {
    margin-top: 7.3125rem;
  }
}

.contact-layout {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .contact-layout {
    margin-top: 9.375rem;
  }
}

.content-layout {
  position: relative;
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .content-layout {
    margin-top: 12.1875rem;
  }
}

.mv-layout {
  position: relative;
}

.overview-layout {
  position: relative;
  margin-top: 123px;
  margin-top: 7.6875rem;
}
@media screen and (min-width: 768px) {
  .overview-layout {
    margin-top: 13rem;
  }
}

.single-body-layout {
  margin-top: 176px;
  margin-top: 11rem;
}
@media screen and (min-width: 768px) {
  .single-body-layout {
    margin-top: 4.75rem;
  }
}

.single-body__inner {
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .single-body__inner {
    max-width: 53.125rem;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.top-button-layout {
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  position: fixed;
  bottom: 41px;
  bottom: 2.5625rem;
  right: 22px;
  right: 1.375rem;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .top-button-layout {
    bottom: 2rem;
    right: 1.9375rem;
  }
}

.works-layout {
  margin-top: 124px;
  margin-top: 7.75rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .works-layout {
    margin-top: 12.8125rem;
  }
}
/*# sourceMappingURL=styles.css.map */
