@use "global" as *;

.top-button-layout {
  width: rem(45);
  height: rem(45);
  position: fixed;
  bottom: rem(41);
  right: rem(22);
  z-index: 99;
  @include mq(md) {
    bottom: rem(32);
    right: rem(31);
  }
}