@use "global" as *;

.blog__subtitle {
  top: rem(-43);
  @include mq(md) {
    top: rem(-37);
  }
}

.blog__cards {
  margin-top: rem(68);
  @include mq(md) {
    margin-top: rem(41);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}

.blog__button-wrapper {
  margin-top: rem(27);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md) {
    margin-top: rem(48);
    margin-left: auto;
    margin-right: auto;
  }
}

.blog__cards .card:first-child {
  position: relative;
}

.blog__cards .card:first-child::before {
  display: inline-block;
  position: absolute;
  top: rem(-15);
  left: rem(-16);
  color: $black;
  content: "New";
  background-color: #ffba6a;
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  text-align: center;
  line-height: rem(60);
  letter-spacing: rem(2);
  z-index: 999;
  @include mq(md) {
    top: rem(-20);
  }
}
