@use "global" as *;

.content::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(-36);
  transform-origin: top left;
  background-color: $yellow;
  width: rem(1);
  height: calc(778 / 375) * 95vw;
  transform: rotate(-28.91deg);
  z-index: -1;
  @include mq(md) {
    height: calc(1714 / 1280) * 100vw;
    transform: rotate(-45deg);
    top: rem(-110);
  }
}

.content__subtitle {
  top: rem(-43);
  @include mq(md) {
    top: rem(-23);
  }
}

.content__body {
  margin-top: rem(52);
}

.content__inner {
  @include mq(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

