@use "global" as *;

.news-content {
  @include mq(md) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: inherit;
  }
}

.news-content__info {
  display: flex;
  align-items: center;
  gap: rem(32);
  @include mq(md) {
    gap: rem(48);
  }
}

.news-content__date {
  min-width: rem(80);
  flex-shrink: 0;
}

.news-content__category {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(20 / 14);
  padding: rem(6) rem(21);
  border: 1px solid $white;
  flex-shrink: 0;
  @include mq(md) {
    font-weight: $medium;
    white-space: nowrap;
  }
}

.news-content__link {
  display: inline-block;
  margin-top: rem(14);
  @include mq(md) {
    margin-top: rem(4);
    margin-left: rem(60);
    max-width: calc(576 / 860) * 100%;
    width: rem(576);
  }
}

.news{
.news-content__link {
  position: relative;
  text-decoration: none;
  background: linear-gradient(90deg, $white, $white);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0 1px;
  transition: background 0.3s;
}
}
.news-content__link:hover {
  background-size: 100% 1px;
}

