@use "global" as *;

.pagination__list {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0 rem(16);
  list-style-type: none;
}

.pagination__item {
  display: inline-block;
  grid-row: 1;
  justify-content: center;
  text-align: center;
  max-height: rem(24);
  line-height: 1;
  padding: rem(3) rem(6.5);
  letter-spacing: 1;
  border: 1px solid $white;
  color: $white;
  @include mq(md) {
    transition: 0.3s;
  }
}

.pagination__list--trio {
  grid-template-columns: rem(71) rem(71) rem(71);
  gap: 0 rem(48);
}

.pagination__item:hover {
  background-color: $white;
  color: $gray;
}

.pagination__item:not(:hover) {
  text-decoration: none;
}

.pagination__item--current {
  background-color: $white;
  color: $gray;
  pointer-events: none;
}

.pagination__item--prev,
.pagination__item--next {
  display: inline-block;
  justify-content: center;
  line-height: 1;
  letter-spacing: rem(2);
  font-weight: $regular;
}
.pagination__item--prev {
  margin-right: rem(8);
}

.pagination__item--next {
  margin-left: rem(8);
}

.blog-detail__button-wrapper {
  margin-top: rem(124);
  @include mq(md) {
    margin-top: rem(104);
  }
}
