@use "global" as *;

.top-button {
  display: block;
  text-indent: rem(-9999);
  box-sizing: border-box;
  background: $white;
  padding-top: rem(30);
  text-align: center;
  letter-spacing: -1em;
  font-size: 85%;
  text-decoration: none;
}
.top-button::before {
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 40%;
  height: 40%;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transition: 0.5s;
  transform: rotate(-45deg);
}

.top-button:hover {
  background: $gray;
}

.top-button:hover:before {
  border-top: 2px solid $white;
  border-right: 2px solid $white;
}
